.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    label {
        font-weight: 400;
        font-size: 14px;
        color: #777;
    }

    input {
        outline: none;
        border: 1px solid #cecece;
        height: 48px;
        border-radius: 4px;
        width: 100%;
        padding: 0 12px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: #ffffff;
        color: rgb(105, 105, 105);

        &:focus {
            background-color: #FFF;
            border: 1px solid $main-color;
            box-shadow: 0 0 0 5px #007bff0c;
        }

        &::placeholder {
            color: rgb(163, 163, 163);
            font-weight: 300;
        }
    }

    .input-group-error {
        color: red;
        font-size: 14px;
        
    }
}