.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;

    &__text {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: -0.25px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
}