.form-create-product {
    width: 70%;
    margin: 40px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .input-list {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 32px;
        width: 100%;
    }
    .button-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }
}