.page-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        gap: 40px;
        margin: auto;
        padding: 24px;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .input-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
        }

        .button-container {
            width: 100%;
            display: flex;
            gap: 16px;
            justify-content: center;
        }

        .logo-login {
            letter-spacing: -0.25px;
            color: $main-color;
            font-size: 20px;
            font-weight: 500;
        }

        .register-text {
            font-size: 14px;
            color: #777;

            a {
                text-decoration: none;
                color: $main-color;

                &:hover {
                    color: #0060c6;
                }
            }
        }
    }
}